.userProfile {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
}
