.editPost {
    max-width: 100vw;
    background-color: #E1E6E0;
    background-image: url(../../../public/assets/leaves-bottom.png), url(../../../public/assets/leaves-top.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, left top;
    background-size: 40% auto, 40% auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.editPost-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-profile {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
}

.editPost-form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bfcdbb;
}

.editPost-title {
    background-color: #E1E6E0;
}

.editPost-title, .editPost-description {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.editPost-button {
    background-color: #3c6503;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

@media screen and (max-width:414px){
    .user-profile img {
        width: 70px;
        height: 70px;
    }

    .user-profile h5 {
        font-size: 18px;
    }

    .editPost-form {
        max-width: 330px;
        max-height: 300px;
    }

    .editPost-button {
        padding: 10px 20px;
    }

    .editPost-description,
    .editPost-title {
        width: 90%;
        padding: 5px;
    }

    .editPost-file {
        width: 30%;
        font-size: 10px;
    }
}