.setting {
    max-width: 100vw;
    background-color: #E1E6E0;
    background-image: url(../../../public/assets/leaves-bottom.png), url(../../../public/assets/leaves-top.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, left top;
    background-size: 40% auto, 40% auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.setting-top img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
}

.setting-name {
    text-align: center;
}

.setting-form {
    width: 400px;
    height: 200px;
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bfcdbb;
}

.setting-button {
    background-color: #3c6503;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

@media screen and (max-width:414px){
    .user-profile img {
        width: 70px;
        height: 70px;
    }
}