.register-container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    background-color:  #DEE4DA;
    background-image: url(../../../public/assets/leaves-bottom.png), url(../../../public/assets/leaves-top.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, left top;
    background-size: 40% auto, 40% auto;
    align-items: center;
}

.register-form{
    background-color:#bfcdbb;
    height: 60vh;
    width: 50vh;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.register-title {
    padding-bottom: 0;
    font-weight: bold;
    text-align: center;
}

.register-input {
    padding: 0.8rem;
    border:0.1rem solid #EFF4EE;
    border-radius: 0.4rem;
    font-size: 1rem;
    width: 70%;
}

.registerButton {
    background-color: #3c6503;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: white;
}

button:hover {
    background-color:#849d42;
}

.register-span {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.register-link {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width:414px){
    .register-form{
        height: 55vh;
        width: 40vh;
        gap: 15px;
    }

    .register-title {
        font-size: 20px;
    }

    .register-input {
        font-size: 0.5rem;
    }

    .registerButton {
        font-size: 0.5rem;
    }

    .register-span {
        font-size: 12px;
    }
}