.editButton {
    position: relative;
    z-index: 1; /* display at the bottom*/
}

.editPost-form {
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bfcdbb;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    align-items: center;
    z-index: 2; /* display on top */
}

.editPost-title, .editPost-description {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.editPost-button {
    background-color: #3c6503;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.likeIcon {
    width: 20px;
    height: 20px;
}
